@import "../../App.scss";

.cart-container {
  position: absolute;
  right: 2px;
  bottom: 0;
  height: calc(100dvh - $navbar-height);
  box-sizing: border-box;
  z-index: 10;
  box-shadow: -1px 0 2px 0 black;
  width: 425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    padding: 12px;
  }
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 black;
}

.cart-lower {
  display: flex;
  flex-direction: column;
  box-shadow: 0 -1px 2px 0 black;
}

.cart-subt-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $accent-color;
  font-weight: bold;
  font-size: 1.3rem;
}
.cart-checkout-box {
  > button {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
  }
}

.cart-items-cont {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;

  > span {
    padding: 50px 0;
  }
}

.cart-empty-cont {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  justify-content: space-around;

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  > div > img {
    width: 80%;
    margin-bottom: 40px;
  }
}

.cart-item-cont {
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 65px 1fr;
  border: 2px solid $accent-color;
  border-radius: 4px;
  font-size: 1.1rem;
  margin: 7px 0;
  padding: 7px 0;

  > div {
    display: flex;
    flex-direction: column;
  }
}

.cart-prod-img,
.cart-prod-img > img {
  width: 100%;
}
.cart-prod-img {
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
}

.cart-prod-des-con {
  > div {
    padding: 1px 5px;
    display: flex;
  }
}
.cart-prod-price {
  color: $accent-color;
}
.cart-prod-price,
.cart-prod-btn-cont {
  justify-content: flex-end;
}
.cart-prod-btn-cont {
  margin-top: 7px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  > span {
    display: flex;
    align-items: center;
    border: 1px solid $accent-color;

    > button {
      display: flex;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    > button:hover {
      background-color: rgba($color: $accent-color, $alpha: 0.2);
    }
  }
}

.cart-prod-count {
  margin-right: 7px;

  > button,
  > span {
    padding: 0 6px;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid $accent-color;
  }
  > button {
    font-size: 1.2rem;
  }
}
#cart-prod-btn > button {
  border: 1px solid $accent-color;
}
#cart-prod-rem {
  border: none;
  > button {
    border-radius: 50%;
  }
}

@media screen and (max-width: 440px) {
  .cart-container {
    width: 100%;
  }
}
