@import "../../../App.scss";

.admin-all-prod-container {
  height: calc(100dvh - $navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;

  > div {
    overflow-x: auto;
    width: 100%;
    margin-top: 30px;
  }
}

.empty-store {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin: 10px 0;
  }

  > img {
    width: 300px;
    margin: 60px 0;
  }
}

.prod-stock-status {
  padding: 2px 12px;
}

.create-prod-cont {
  display: flex;
  align-items: center;
  height: calc(100dvh - $navbar-height);
  overflow: auto;
}

#prod-des-btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#prod-des-btn-cont {
  padding: 0;
  border: 0;
}

.prod-desc {
  width: 100%;
  resize: vertical;
  outline: none;
  min-height: 60px;
  border: none;
  padding: 4px;
  border-radius: 4px;
}

.cr-prod-images {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  > div {
    display: flex;
    overflow-x: auto;
    width: 271px;
    align-items: center;
    justify-content: center;
  }

  > div > span {
    margin: 0 6px;
  }

  > div > span > img {
    width: 60px;
    border: 1px solid $accent-color;
  }
}

.admin-prod-rev-cont {
  height: calc(100dvh - $navbar-height);
  padding: 21px;
  overflow-y: auto;
}

.admin-prod-rev-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(361px, 1fr));
  overflow-x: auto;
  > div {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.admin-prod-rev-empty {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.des-modal-outer {
  height: 100dvh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: -12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.des-modal-main {
  height: calc(100% - $navbar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  background-color: rgba(100, 100, 100, 0.699);
}

.des-modal-inner {
  height: 92%;
  width: 98vw;

  display: flex;
  flex-direction: column;
}

.des-mod-header {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px 2px gray;

  > span {
    display: inline-flex;
    align-items: center;
    font-size: larger;
  }
}

.des-modal-cont {
  height: calc(100% - 46px);
  display: grid;
  grid-template-columns: 1fr 475px;

  > div {
    display: flex;
    align-items: center;
  }
}

#des-modal-inp-form {
  width: 600px;

  > h2 {
    margin-bottom: 40px;
  }
}

#des-modal-des-preview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.des-modal-des-preview-inner {
  padding: 12px;
  max-height: 60dvh;
  overflow-y: auto;

  > h2 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.des-prev-card-con {
  width: 100%;
}

.des-prev-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > h3 {
    width: 70%;
    display: inline-flex;
    text-align: center;
  }
  > img {
    width: 90px;
  }
}

.des-modal-des-preview-inner {
  width: 475px;
}

.des-prev-card-con {
  padding: 7px;
  margin: 18px 0;
  border-radius: 4px;
  border: 1px solid $accent-color;
}
.des-prev-des {
  height: 75px;
  overflow-y: auto;
}

.prod-des-prev-empty {
  text-align: center;
}

.des-prev-del-btn {
  position: relative;
  top: -12px;
  right: -8px;
}

.des-sub-btn-cont {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 720px) {
  .admin-prod-rev-cont {
    padding: 12px 0;
  }
}

@media screen and (max-width: 1100px) {
  .des-modal-cont {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 2160px) {
  .des-modal-cont {
    grid-template-columns: 1fr 1fr;
  }
}
