@import "../../../App.scss";

.dashboard-constainer {
  height: calc(100dvh - $navbar-height);
}

.dash-side-cont {
  padding: 120px 0 40px 0;
  height: 100%;
  width: fit-content;
  box-shadow: 0 0 6px -2px gray;
  font-size: 1.5rem;
  overflow-y: auto;
  // transition: all 1s;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  > * {
    width: 260px;
    padding: 20px 25px;
    cursor: pointer;
    box-shadow: 0 0 6px -3px gray;
    display: flex;
    align-items: center;
    // margin: 4px 0;

    > span {
      margin-left: 5px;
      display: flex;
      align-items: center;
    }
  }

  > *:hover {
    background-color: rgba($accent-color, 0.2);
  }
}

#dash-side-close-btn {
  position: absolute;
  left: 233px;
  top: 100px;
  padding: 16px;
  border-radius: 50%;
}

#dash-side-open-btn {
  position: absolute;
  left: 0;
  top: 100px;
  padding: 16px;
  border-radius: 0 20px 20px 0;
  z-index: 2;
}

.dash-content-holder {
  height: calc(100dvh - $navbar-height);
  width: 100%;
  padding: 30px 30px 30px 80px;
  position: absolute;
  top: 77px;
}

.dash-side-sub-menus {
  padding-left: 40px;
}
