@import "../../../App.scss";

.not-found-container {
  height: calc(100dvh - $navbar-height);

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.not-found-inner {
  padding: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 600px;

  > img {
    width: 300px;
  }

  > h1 {
    font-size: 40px;
  }
}
